$mainColor: rgb(240, 56, 86);
$subColor: #E22A2E;
$subColorHovered: #da191c;

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.highlight {
    color: $mainColor;
}