html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.highlight {
    color: $mainColor;
}

.border-bottom {
    display: inline-block;
    width: 50px;
    margin-bottom: .5rem;
    border-bottom: 3px solid $mainColor;
}

/* active slider dot */
.active {
    background: #fff;
    transform: scale(1.1);
}

.page-separator {
    margin: 4rem 0;
}


.sub-body-color {
    background: $subBodyColor;
    padding: 3rem 0;
}

.bold {
    font-weight: bold;
    color: $mainColor;
}