.about-us-section {

    margin-top: 3rem;
    margin-bottom: 50rem;
    border: 2px solid red;

    &__title {
        margin-bottom: .5rem;
    }

    &__content-container {
        display: flex;
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__slider-container {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }

    &__img {
        display: none;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 5px .5px #555;
        object-fit: contain;
    }

    p {
        margin-bottom: 0;
        font-size: 1.1rem;
    }

}