.about-us-section {

    &__title {
        margin-bottom: .5rem;
    }

    &__content-container {
        display: flex;
    }

    &__text-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    &__slider-container {
        flex: 1.2;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }

    &__img {
        display: none;
        object-fit: cover;
    }

    p {
        margin-bottom: 0;
        font-size: 1.1rem;
    }

}