.back-to-top {
    box-sizing: border-box;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background: $mainColor;
    color: #fff;
    cursor: pointer;
    z-index: -500;
    font-size: 1.1rem;
    max-height: 0;
    opacity: 0.9;
    transition: max-height 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 30px;

    @mixin atSemiSmall {
        font-size: 1.2rem;
        height: 36px;
        width: 45px;
    }

    @mixin atRegular {
        opacity: 1;
        font-size: 1.4rem;
    }

    &--show {
        max-height: 36px;
        z-index: 50;
        transition: max-height 0.25s ease-in;
    }
}

.back-to-top:hover {
    background: #f3c302;
}
