.btn {
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: all .3s ease-in-out;
    display: inline-block;
    border-radius: .3rem;
    text-transform: uppercase;
    background: $mainColor;
    padding: 1rem 1.4rem;
    font-size: .8rem;

    @mixin atSmall {
        padding: 1.3rem 2rem;
    }

    @mixin atLarge {
        font-size: 1.1rem;
        padding: 1.3rem 2rem;
    }

    &--margin-bottom {
        margin-bottom: 50rem;
    }

    &--bordered {
        border: 2px solid $mainColor !important;
        background: none;
    }

    &--small {
        padding: .9rem 1.5rem;
        font-size: .85rem;
        border: 0;
    }

    &--bordered:hover {
        background: $mainColor;
    }

    &--transform-scale-animation:hover {
        transform: scale(1.1);
    }

    &--filled-bg {
        background: $mainColor;
    }

    &--filled-bg:hover {
        background: none;
    }

    &--margin-top {
        margin-top: 2rem;
    }

}