.gallery-section {
    position: relative;
    text-align: center;

    &__images-container {
        margin-top: 2rem;
        display: grid;
        grid-gap: 2rem;

        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
        }

        @mixin atMediumLarge {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__photo-item {
        position: relative;
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
            height: 150px;
            border: 3px double #555;
            box-shadow: 0 0 5px #000;

            /* 400px */
            @mixin atSemiSmall {
                height: 200px;
            }

            @mixin atSmall {
                border: 4px double #555;
                height: 300px;
            }

            @mixin atMedium {
                height: 230px;
            }

            @mixin atLarge {
                height: 260px;
            }
        }

        div:first-child img {
            border-right: 0;
        }

        div {
            position: relative;

            span {
                position: absolute;
                color: #000;
                padding: 0.4rem 0.7rem;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                font-weight: bold;
                letter-spacing: 0.1rem;
                background: rgba(255, 255, 255, 0.85);
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                font-size: 0.55rem;
                bottom: 7%;

                @mixin atSmall {
                    font-size: 0.85rem;
                    bottom: 5%;
                }

                @mixin atLarge {
                    font-size: 0.95rem;
                }
            }
        }
    }
}
