.generic-content {

    text-align: center;

    &__main-title{
        font-size: 1.6rem;
    }

    &__paragraph{
        font-size: 1.1rem;
        text-align: justify;
        text-indent: 1rem;
    }

    &__icon {
        color: #777;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #777;
    }
}