.header-section {
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    &--dark::before {
        height: 100% !important;
    }

    &--is-expanded {
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 2px 8px -2px #000;
        transition: all 0.5s ease-in-out;
    }
}

.header-section::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    height: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0.75;
    background: #000;
    box-shadow: 0 2px 8px -2px #000;
}
