.header-section {
    width: 100%;
    position: fixed;
    z-index: 5000;
    transition: all .6s ease;
    display: none;

    @mixin atMedium{
        display: block;
    }

    &--dark {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 12px -2px #000;
    }

    &--display-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}