.lower-nav {
    position: relative;
    padding: .7rem 0;
    transition: all .3s ease-out;

    @mixin atSmallest {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--is-flex-col {
        flex-direction: column;
    }

    /* LOGO IMAGE & TEXT */
    &__logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 70vw;
        transition: all .3s ease-in-out;

        @mixin atLarge {
            max-width: 100vw;
        }

        &--remove-max-width{
            max-width: 100vw;
        }

        &--display-flex-col {
            flex-direction: column;
        }
    }

    &__main-title {
        font-weight: bold;
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-size: .9rem;
        text-align: start;
        line-height: 1.35;

        &--text-center {
            text-align: center;
        }

        @mixin atSmallest {
            letter-spacing: .3rem;
        }

        @mixin atSmall {
            font-size: 1.1rem;
            letter-spacing: .3rem;
        }

        @mixin atRegular {
            font-size: 1.5rem;
            display: inline-block;
        }

        @mixin atMedium {
            font-size: 1.6rem;
        }

    }

    &__logo {
        width: 55px;
        object-fit: contain;
        margin-right: 1rem;

        &--margin-bottom {
            margin-bottom: 1rem;
        }

        @mixin atMedium {
            width: 70px;
            border-radius: 50%;
        }

        @mixin atLarge {
            width: 50px;
            border-radius: 50%;
        }

    }

}