.lower-nav {

    padding: .7rem 0;

    &__logo-link {

        img {
            margin-right: 1rem;
        }

        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__main-title {
        font-size: 1.6rem;
        display: inline-block;
        font-weight: bold;
        letter-spacing: .3rem;
        text-transform: uppercase;

    }

    &__logo {
        width: 50px;
        border-radius: 50%;
        object-fit: contain;
    }

}