.menu-icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 999999;
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    right: 20px;
    top: 20px;

    @mixin atLarge {
        display: none;
    }


}