.price-list {
    border-top: 5px solid #000;
    border-bottom: 3px solid #333;
    background: rgb(230, 230, 230);
    margin: 3rem 0;
    padding: 1rem 1.5rem;
    border: 1px solid red;

    @mixin atMedium {
        padding: 1.5rem 2.5rem;
    }

    @mixin atLarge {
        padding: 2rem 3rem;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: .9rem;

        @mixin atSmall {
            font-size: 1rem;
        }

    }


    &__item-title {
        margin-top: 3rem;
        padding: 0 1rem;
        font-size: 1.35rem;
        text-align: center;

        @mixin atLarge {
            display: block;
        }

        margin-bottom: 2rem;

        @mixin atMedium {
            font-size: 1.6rem;
        }

    }

    &__item-description {
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__hair-services {

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem 0;
            text-transform: uppercase;
        }

        &__service-name {
            flex: 1;
            text-align: left;
        }

        &__price {
            text-align: right;
            font-weight: bold;
            flex: 1;
        }

        &__center-border {
            flex: .2;
            display: inline-block;
            border-bottom: 2px dotted #999;
            margin: 0 1rem;

            @mixin atSmall {
                flex: .8;
            }

            @mixin atMedium {
                flex: 1;
            }

            @mixin atRegular {
                flex: 2;
            }

        }

    }

}