.services-section {
    margin-top: 5rem;
    text-align: center;

    &__title {
        text-transform: lowercase;
    }

    &__description {
        font-size: 1.2rem;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        margin-top: 2rem;
    }

    &__grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;

        p {
            font-size: 1.3rem;
            margin-bottom: 0;
        }

    }

    &__grid-image-container {
        width: 50px;
        height: 50px;
        background: $mainColor;
        padding: 1.3rem;
        border-radius: 50%;

    }

}