.services-section {
    &__grid {
        display: grid;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);

        @mixin atSmall {
            grid-gap: 0.5rem;
            grid-template-columns: repeat(4, 1fr);
        }

        @mixin atMedium {
            grid-template-columns: repeat(5, 1fr);
        }

        @mixin atLarge {
            grid-gap: 1rem;
        }
    }

    &__grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1rem;

        p {
            text-align: center;
            margin-bottom: 0;

            @mixin atMedium {
                font-size: 1.3rem;
            }

            @mixin atLarge {
                font-size: 1.3rem;
            }
        }
    }

    &__grid-image-container {
        width: 50px;
        height: 50px;
        background: $mainColor;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @mixin atSmallest {
            padding: 1rem;
        }

        @mixin atLarge {
            padding: 1.3rem;
        }

        img {
            width: 35px;

            @mixin atSmallest {
                width: 40px;
            }

            @mixin atLarge {
                width: 50px;
            }
        }
    }
}
