.wrapper {
    max-width: 1236px;
    padding: 0 1.1rem;
    margin: auto;

    &--display-flex-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &--narrow {
        max-width: 570px;
    }

    &--wide {
        max-width: 1536px;
    }


}